@model GeoProfs.Models.Verlofaanvraag

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Verlofaanvraag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="werknemer_ID" class="control-label"></label>
                <input asp-for="werknemer_ID" class="form-control" />
                <span asp-validation-for="werknemer_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="begin_datum" class="control-label"></label>
                <input asp-for="begin_datum" class="form-control" />
                <span asp-validation-for="begin_datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eind_datum" class="control-label"></label>
                <input asp-for="eind_datum" class="form-control" />
                <span asp-validation-for="eind_datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beschrijving" class="control-label"></label>
                <input asp-for="beschrijving" class="form-control" />
                <span asp-validation-for="beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="verlof_reden" class="control-label"></label>
                <input asp-for="verlof_reden" class="form-control" />
                <span asp-validation-for="verlof_reden" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
