@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>GeoProfs</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to GeoProfs</h2>
        <p>
            GeoProfs is a simple employees management application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>For Employees</h2>
        <p>Employees can a apply a form online.</p>
    </div>
    <div class="col-md-4">
        <h2>For Managers</h2>
        <p>Managers can review the applications of employees.</p>
    </div>
</div>